<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="version" value="01.00.01"/>  <!-- code version -->
    <add key="pathgetprice" value="D:\GetPrice.csv"/> <!-- market price log -->
    <add key="pathbuysell" value="D:\BuySell.csv"/> <!-- buy & sell log -->
    <add key="Enviroment" value="Sandbox"/> <!-- Enviroment "Sandbox" or Live -->
    <add key="buyLimiteMaxMin" value="500"/> <!-- valor maximo de compra -->
    <add key="percentageBuySell" value="0.05"/> <!-- percentage variance to buy and sell -->
    <add key="percentageBet" value="0.99"/> <!--percentage to sell-->
    <add key="percentageBetOffset" value="0.10"/> <!--percentage offset of sell adn buy in the order to the present value-->
    <add key="minimumAccountAvailable" value="50"/> <!-- minimum availabel in account to buy -->
    <add key="emailAdress" value="hugo.ricardo.silva@gmail.com"/> <!-- send email to after successfull buy or sell -->

  </appSettings>
</configuration>