<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <!-- SandBox -->
    
    <add key="ApiKey" value=""/>
    <add key="Secret" value=""/>
    <add key="Passphrase" value=""/>
    <add key="Enviroment" value="Sandbox"/> 
    
    
    <!-- Production
    <add key="ApiKey" value=""/>
    <add key="Secret" value=""/>
    <add key="Passphrase" value=""/>
	-->
	  
	<add key="placebuy" value="no"/> <!-- Place Orders to Buy and Sell -->
    <add key="placesell" value="no"/> <!-- Place Orders to Buy and Sell -->

    <add key="tradeBTC" value="no"/> <!-- Trade to Buy and Sell in BTC -->
    <add key="tradeETH" value="no"/> <!-- Trade to Buy and Sell in ETH -->
    
    <add key="version" value="01.01.01"/>  <!-- code version -->
    <add key="pathgetprice" value="D:\GetPrice.csv"/> <!-- market price log -->
    <add key="pathbuysell" value="D:\BuySell.csv"/> <!-- buy & sell log -->

    <add key="buyLimiteMaxMin" value="500"/> <!-- max value to buy -->
    <add key="percentageBuySell" value="0.025"/> <!-- percentage variance to buy and sell -->
    <add key="percentageBet" value="0.99"/> <!--percentage to sell total money-->
    <add key="percentageBetOffset" value="0.10"/> <!--percentage offset of sell and buy in the order to the present value, sent email alert-->
    <add key="minimumAccountAvailable" value="50"/> <!-- minimum availabel in account to buy in EUR -->
   

  </appSettings>
</configuration>